body {
  background: #2f6b91;
  margin: 10px auto;
  width: 60%;
}

h1 {
  background: #192f4a;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  color: white;
  font-family: Open Sans;
  font-size: 2em;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
}

.btn-primary {
  background-color: #2897c6;
  font-family: Open Sans;
  font-weight: bold;
}

.button-bar {
  background: #192f4a;
  padding: 10px;
}

.dropdown {
  margin: auto;
  width: 100px;
}

.canvas {
  background: white;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
